<div class="row">
	<div class="col-xs-3">
<%= render 'users/list', user: @user %>
<%= render 'users/list2', book: @booknew %>
</div>
<div class="col-xs-9">
<h2>Book detail</h2>
<table class='table table-hover table-inverse'>
	<tr>
	<th></th>
    </tr>
	<tbody>
		<th>
			<%= attachment_image_tag @user, :profile_image, :fill, 50,50, fallback: "no_image.jpg" %>
			<%= link_to (user_path(@user)) do %>
				<p><%= @user.name %></p>
			    <% end %>
			</th>
				
		<th><%= @book.title %></th>
	    <td><%= @book.body %></td> 
	    <td><% if @book.user == current_user %>
	    	<%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
	    		<% else %>
	    	　　<% end %></td>
	    <td><% if @book.user == current_user %>
	    	<%=link_to "Destroy", book_path(@book) , class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
	    		<% else %>
	    	　　<% end %>
	    	</td>
	    
	</tbody>
</table>
</div>
</div>

