<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-left" href="#">
      <h2>Bookers</h2>
  </a>
</div>
<table class="table table-striped">
  <div class="collapse navbar-collapse" id="navbarEexample7">
      <talbe class="nav navbar-nav">
        
          <tr>
            <th><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              <%=link_to 'Home', user_path(@user.id)%></th>
            <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <%=link_to 'Users', users_path(@user.id)%></th>
            <th><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
              <%= link_to 'Books', books_path(@user.id) %></th>
            <th><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              <%= link_to "Log out", destroy_user_session_path, method: :delete %></th>
           </tr>

        
      </table>

  </table>
</div>
</div>
  </div>
  </header>
    <%= flash[:notice] %>
    <div class="container">
      <%= yield %>
    </div>


  <footer>
    <h4>CopyRight Infratop.inc</h4>
  </footer>
</body>
</html>
